################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

bin/
obj/
.vs/
chunks/
#appsettings.*.json
resultPCM.raw
result.webm
result.ogg
*.user
/*.dll
